// Place all the styles related to the reunions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reunion {
    float: left;
    text-align: center;
    background:#829900;
	color:#fff; padding: 5px;
	height: 35px;
	width: 150px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}